USE [master]
GO
/****** Object:  Database [LocalRapidas]    Script Date: 24/11/2020 18:38:24 ******/
CREATE DATABASE [LocalRapidas]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LocalRapidas', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\LocalRapidas.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LocalRapidas_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\LocalRapidas_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LocalRapidas].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LocalRapidas]
GO
/****** Object:  Table [dbo].[Pedidos]    Script Date: 24/11/2020 18:38:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pedidos](
	[IdPedido] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[OpcionPedido] [varchar](50) NOT NULL,
	[IsDelivery] [bit] NOT NULL,
	[InfoDelivery] [varchar](200) NULL
) ON [PRIMARY]
GO
USE [master]
GO
